[user]
	name = kvathupo
	email = kalinda619@gmail.com
[core]
	autocrlf = input
[diff] 
    submodule = log     # see submodule commits
[status]
    submodulesummary = 1        # see submodule changes
[submodule]
    recurse = true      # recursively pull any submodules of a repo
